<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td><%= link_to_unless ripple.url == "", ripple.name, ripple.url %></td>
        <td><%= ripple.message %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Newest', '/ripples' %>
<%= link_to 'Prev 10 Ripples', '/ripples' %>
<%= link_to 'Next 10 Ripples', '/ripples' %>
<%= link_to 'New Ripple', new_ripple_path %>
