<p id="notice"><%= notice %></p>

<div class="show">

  <p>
    <strong><%= @ripple.name %> said:</strong>
    <br>
    <br>
  </p>

  <p id="indent">
    <%= @ripple.message %>
  </p>

</div>

<%= link_to 'Back', ripples_path %>
