/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #sitebanner {
	 background-color: #166eb1;
	 color: white;
	 padding: 20px;
 }

td {
    border: 1px solid white;
    padding: 10px;
    background-color: #8bcbc8;
}

.show {
    border: 1px solid white;
    padding: 10px;
    background-color: #8bcbc8;
}

#indent {
    padding-left: 2%;
}